<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty name="APP_NAME" source="spring.application.name"/>
  <springProperty name="LOKI_URL" source="provider.loki.url"/>

  <springProfile name="default">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="k8s">
    <root>
      <appender-ref ref="JSON_CONSOLE"/>
    </root>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"app_name": "${APP_NAME}", "env": "${APP_ENV}"}</customFields>
        <shortenedLoggerNameLength>15</shortenedLoggerNameLength>
        <timestampPattern>[ISO_INSTANT]</timestampPattern>
        <timeZone>UTC</timeZone>
        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
          <maxDepthPerThrowable>2</maxDepthPerThrowable>
        </throwableConverter>
      </encoder>
    </appender>
  </springProfile>
</configuration>