<configuration>T
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>
                [%X{traceId}] [%-5p] [%t] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{15}] [%m]%n
            </pattern>
        </encoder>
    </appender>
    <logger level="ERROR" name="io.netty"/>
    <logger level="ERROR" name="io.micronaut.core.reflect"/>
    <logger level="ERROR" name="io.micronaut.core.beans"/>
    <logger level="INFO" name="io.micronaut.context"/>
    <logger level="INFO" name="io.micronaut.context.condition"/>
    <logger level="ERROR" name="io.micronaut.http"/>
    <logger level="TRACE" name="io.micronaut.http.client"/>
    <logger level="DEBUG" name="io.micrometer.elastic"/>
    <logger level="INFO" name="io.micronaut.discovery"/>
    <logger level="WARN" name="software.amazon.awssdk"/>
    <logger level="WARN" name="software.amazon.awssdk.request"/>
    <logger level="WARN" name="com.amazonaws.request"/>
    <logger level="WARN" name="com.amazonaws"/>
    <logger level="WARN" name="org.apache.http"/>
    <logger level="DEBUG" name="puppet.enforcer"/>
    <logger level="DEBUG" name="HTTP_ACCESS_LOGGER"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
